body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 138px;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8 , 1fr); 
  grid-template-rows: auto auto auto;           
  gap: 10px;
}

.grid div:nth-child(1) {
  width: 11px;
  height: 343px;
  position: relative;
  right: -59px;
}

.grid div:nth-child(2) {

  width: 300px;
  height: 342px;
  position: relative;
  right: -63px;
}

.grid div:nth-child(3) {
  width: 298px;
  height: 342px;
  position: relative;
  right: -93px;
  bottom: -1px;

}

.grid div:nth-child(4) {
  width: 11px;
  height: 340px;
  position: relative;
  left: 101px;
  bottom: -2px;
}

.grid div:nth-child(5) {
  width: 15px;
  height: 26px;
  position: relative;
  bottom: -356px;
  right: 604px;
}

.grid div:nth-child(6) {
  width: 301px;
  height: 27px;
  position: relative;
  bottom: -355px;
  right: 601px;
}

.grid div:nth-child(7) {
  width: 301px;
  height: 27px;
  position: relative;
  bottom: -355px;
  right: 574px;
}

.grid div:nth-child(8) {
  width: 15px;
    height: 27px;
    position: relative;
    left: -568px;
    bottom: -354px;
}

.grid div {
  background-color: rgb(59, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
